html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header > .container, .s-1 > .Dependent, .s-2 > .container, .s-3 > .container, .s-4 > .container, .s-5 > .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #101010;
}

header > .container {
  padding: 20px;
}

header > .container > .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .container > .header-box > nav {
  width: 800px;
}

header > .container > .header-box > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header > .container > .header-box > nav > ul > li > a {
  color: #FFFFFF;
  font-family: "Peddana", serif;
  font-size: 21px;
}

header > .container > .header-box > nav > ul > li > a:hover {
  font-size: 25px;
}

header > .container > .header-box > .register > button {
  width: 130px;
  border: none;
  border-radius: 17px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #2e2b2b;
  cursor: pointer;
}

header > .container > .header-box > .register > button:hover {
  -webkit-box-shadow: 2px 6px 35px 1px rgba(71, 56, 56, 0.52);
          box-shadow: 2px 6px 35px 1px rgba(71, 56, 56, 0.52);
  padding: 11px;
}

.s-1 {
  background-color: #101010;
  height: 500px;
  width: 100%;
  padding-top: 10px;
}

.s-1 > .Dependent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px 25px;
  height: 650px;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 1px 21px 19px 1px rgba(0, 0, 0, 0.41);
          box-shadow: 1px 21px 19px 1px rgba(0, 0, 0, 0.41);
}

.s-1 > .Dependent > .course-info > h2 {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 36px;
}

.s-1 > .Dependent > .course-info > h3 {
  font-size: 35px;
  color: #8d8d8d;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  opacity: 50%;
  margin-bottom: 120px;
}

.s-1 > .Dependent > .course-info > p {
  font-size: 20px;
  color: #000000;
  line-height: 2.4;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 70px;
}

.s-1 > .Dependent > .course-info > button {
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background-color: #F36732;
  cursor: pointer;
}

.s-2 {
  margin-top: 250px;
}

.s-2 > .container {
  padding: 20px 20px;
  -webkit-box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
          box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
}

.s-2 > .container > .first-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.s-2 > .container > .first-box > .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 300px;
  background-color: #000000;
  border-radius: 20px;
}

.s-2 > .container > .first-box > .box > .img-box {
  position: absolute;
  bottom: 10px;
  right: 18px;
}

.s-2 > .container > .first-box > .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-2 > .container > .first-box > .text > h4 {
  font-size: 100px;
  font-weight: bold;
  opacity: 10%;
}

.s-2 > .container > .first-box > .text > .text2 {
  position: absolute;
}

.s-2 > .container > .first-box > .text > .text2 > h5 {
  color: #000000;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.s-2 > .container > .first-box > .soc-icon {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 > .container > .first-box > .soc-icon > a > img {
  margin-bottom: 20px;
}

.s-2 > .container > .text-box {
  margin-top: 60px;
}

.s-2 > .container > .text-box > p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  opacity: 80%;
  line-height: 2;
}

.s-3 {
  margin-top: 60px;
}

.s-3 > .container {
  -webkit-box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
          box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
}

.s-3 > .container > .course {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-3 > .container > .course > h4 {
  font-size: 80px;
  font-weight: bold;
  opacity: 15%;
}

.s-3 > .container > .course > .course2 {
  position: absolute;
}

.s-3 > .container > .course > .course2 > h5 {
  color: #000000;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.s-3 > .container > .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-3 > .container > .content-wrapper > .content > p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  opacity: 80%;
}

.s-4 {
  margin-top: 70px;
}

.s-4 > .container {
  padding-bottom: 40px;
  -webkit-box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
          box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
}

.s-4 > .container > .course {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-4 > .container > .course > h4 {
  font-size: 80px;
  font-weight: bold;
  opacity: 15%;
}

.s-4 > .container > .course > .course2 {
  position: absolute;
}

.s-4 > .container > .course > .course2 > h5 {
  color: #000000;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.s-4 > .container > .information {
  margin-top: 40px;
}

.s-4 > .container > .information > .info {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-4 > .container > .information > .info > span {
  border-left: 4px black solid;
  display: block;
  height: 25px;
  margin-left: -60px;
}

.s-4 > .container > .information > .info > h5 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-left: -96px;
}

.s-4 > .container > .information > .info > h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.s-4 > .container > .information > .info > h6 > img {
  margin-right: 10px;
}

.s-4 > .container > .information > .user {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-4 > .container > .information > .user > p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

.s-5 {
  margin-top: 100px;
}

.s-5 > .container {
  -webkit-box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
          box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);
}

.s-5 > .container > .course {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-5 > .container > .course > h4 {
  font-size: 90px;
  font-weight: bold;
  opacity: 15%;
}

.s-5 > .container > .course > .course2 {
  position: absolute;
}

.s-5 > .container > .course > .course2 > h5 {
  color: #000000;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.s-5 > .container > .masters1 {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-5 > .container > .masters1 > .master {
  width: 200px;
}

.s-5 > .container > .masters1 > .master > .img {
  width: 100%;
}

.s-5 > .container > .masters1 > .master > h4 {
  font-size: 19px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-top: 18px;
}

.s-5 > .container > .masters1 > .master > p {
  font-size: 17px;
  margin-top: 10px;
  color: #707070;
}
/*# sourceMappingURL=global.css.map */