header {
  background-color: #101010;

  & > .container {
    @extend %container;
    padding: 20px;

    & > .header-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > nav {
        width: 800px;

        & > ul {
          display: flex;
          justify-content: space-around;

          & > li > a {
            color: $main-color1;
            font-family: "Peddana", serif;
            font-size: 21px;

            &:hover {
              font-size: 25px;
            }
          }
        }
      }

      & > .register {
        & > button {
          width: 130px;
          border: none;
          border-radius: 17px;
          padding: 10px;
          color: $main-color1;
          background-color: #2e2b2b;
          cursor: pointer;

          &:hover {
            box-shadow: 2px 6px 35px 1px rgba(71, 56, 56, 0.52);
            padding: 11px;
          }
        }
      }
    }
  }
}

.s-1 {
  background-color: #101010;
  height: 500px;
  width: 100%;
  padding-top: 10px;

  & > .Dependent {
    @extend %container;
    display: flex;
    justify-content: space-around;
    padding: 45px 25px;
    height: 650px;
    background-color: $main-color1;
    border-radius: 30px;
    box-shadow: 1px 21px 19px 1px rgba(0, 0, 0, 0.41);

    & > .course-info {
      & > h2 {
        font-size: 45px;
        font-weight: bold;
        color: $main-color2;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 36px;
      }

      & > h3 {
        font-size: 35px;
        color: #8d8d8d;
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        opacity: 50%;
        margin-bottom: 120px;
      }

      & > p {
        font-size: 20px;
        color: $main-color2;
        line-height: 2.4;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 70px;
      }

      & > button {
        width: 300px;
        padding: 15px;
        border: none;
        border-radius: 15px;
        color: $main-color1;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        background-color: $button-color;
        cursor: pointer;
      }
    }
  }
}

.s-2 {
  margin-top: 250px;

  & > .container {
    @extend %container;
    padding: 20px 20px;
    box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);

    & > .first-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      & > .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 300px;
        background-color: $main-color2;
        border-radius: 20px;

        & > .img-box {
          position: absolute;
          bottom: 10px;
          right: 18px;
        }
      }

      & > .text {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & > h4 {
          font-size: 100px;
          font-weight: bold;
          opacity: 10%;
        }

        & > .text2 {
          position: absolute;

          & > h5 {
            color: $main-color2;
            font-size: 32px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
          }
        }
      }

      & > .soc-icon {
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        & > a > img {
          margin-bottom: 20px;
        }
      }
    }

    & > .text-box {
      margin-top: 60px;

      & > p {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        color: #000000;
        opacity: 80%;
        line-height: 2;
      }
    }
  }
}

.s-3 {
  margin-top: 60px;

  & > .container {
    @extend %container;
    box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);

    & > .course {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & > h4 {
        font-size: 80px;
        font-weight: bold;
        opacity: 15%;
      }

      & > .course2 {
        position: absolute;

        & > h5 {
          color: $main-color2;
          font-size: 32px;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
        }
      }
    }

    & > .content-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;

      & > .content {
        & > p {
          font-size: 18px;
          font-family: "Open Sans", sans-serif;
          line-height: 2;
          opacity: 80%;
        }
      }
    }
  }
}

.s-4 {
  margin-top: 70px;

  & > .container {
    @extend %container;
    padding-bottom: 40px;
    box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);

    & > .course {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & > h4 {
        font-size: 80px;
        font-weight: bold;
        opacity: 15%;
      }

      & > .course2 {
        position: absolute;

        & > h5 {
          color: $main-color2;
          font-size: 32px;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
        }
      }
    }

    & > .information {
      margin-top: 40px;

      & > .info {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & > span {
          border-left: 4px black solid;
          display: block;
          height: 25px;
          margin-left: -60px;
        }

        & > h5 {
          font-size: 22px;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          margin-left: -96px;
        }

        & > h6 {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;

          & > img {
            margin-right: 10px;
          }
        }
      }

      & > .user {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & > p {
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          line-height: 2;
        }
      }
    }
  }
}

.s-5 {
  margin-top: 100px;

  & > .container {
    @extend %container;
    box-shadow: 1px 21px 19px -6px rgba(0, 0, 0, 0.33);

    & > .course {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & > h4 {
        font-size: 90px;
        font-weight: bold;
        opacity: 15%;
      }

      & > .course2 {
        position: absolute;

        & > h5 {
          color: $main-color2;
          font-size: 25px;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
        }
      }
    }

    & > .masters1 {
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      & > .master {
        width: 200px;

        & > .img {
          width: 100%;
        }

        & > h4 {
          font-size: 19px;
          font-weight: bold;
          font-family: "Open Sans", sans-serif;
          margin-top: 18px;
        }

        & > p {
          font-size: 17px;
          margin-top: 10px;
          color: #707070;
        }
      }
    }
  }
}
